<HTML>
<HEAD>
<TITLE>Your Account</TITLE>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
	:root
	{
		--green:#00b33c;
	}
	*{
		font-family: 'Open Sans', sans-serif;
		margin:0; padding: 0;
		box-sizing: border-box;
		transition: all .2s linear;
		text-transform: capitalize;
		outline: none;
		text-decoration: none;
	}
	*::selection
	{
		background:var(--green);
		color:#fff;
	}
	html
	{
		font-size: 62.5%;
		overflow-x: hidden;
	}
	.plan
	{
		min-height: 100vh;
		text-align: center;
		background:#eee;
	}
	.heading
	{
		color:#333;
		margin:1.5rem 0;
		padding:1rem 0;
		padding-top: 4rem;
		font-size: 3rem;
		border-bottom: .2rem solid var(--green);
	}
</style>
</HEAD>
<BODY>
<section class="plan" id="plan">
	<h2 class = "heading">Your Account</h2>
	<font size = "+1">
	<h2>Account Details</h2>
	<center><table cellpadding="15px" cellspacing = "15px">
		<tr><td>Username:</td><td>Emma Winston</td></tr>
		<tr><td>Email:</td><td>emma.winston@gmail.com</td></tr>
		<tr><td>Contact Number:</td><td>+85 5694102372</td></tr>
	</table>
	<hr/>
	<h2>Personal Details</h2>
	<center><table cellpadding="15px" cellspacing = "15px">
		<tr><td>Name:</td><td>Emma Winston</td></tr>
		<tr><td>Date of Birth:</td><td>30th March, 2001</td></tr>
		<tr><td>Age:</td><td>20 years</td></tr>
		<tr><td>Gender:</td><td>Female</td></tr>
		<tr><td>Blood Group:</td><td>O<sup>+ve</sup></td></tr>
		<tr><td>Ailments (if any):</td><td>None</td></tr>
	</table>
	<hr/>
	<h2>Membership Details</h2>
	<center><table cellpadding="15px" cellspacing = "15px">
		<tr><td>Membership Status:</td><td>Unlimited Class Membership</td></tr>
		<tr><td>Date of Joining:</td><td>1st Jan, 2020</td></tr>
		<tr><td>Special Privileges(if any):</td><td>Additional 10% discount on membership fees</td></tr>
	</table></center>
	</font>
</section>
</BODY>
</HTML>
